.img-container {
  display: flex;
}
.SystemLog {
  position: relative;
  width: 70%;
  z-index: 20;
}
.reports-haathi-log {
  background-color: #d9d9d9;
  border-radius: 50%;
  padding: 5px;
  width: 30px;
  height: 32px;
}
.report-card1 {
  position: absolute;
  width: 332px;
  z-index: 9;
  top: 15%;
  left: -11%;
  z-index: 10;
  box-shadow: 7px 7px 10px rgba(39, 43, 76, 0.32);
  background: #fff;
  border-radius: 5px;
  padding: 15px 10px;
  height: 174px;
  left: 41%;
  opacity: 70%;
}

h5 {
  font-size: 24px;
  color: #064b8a;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
}

h6 {
  font-size: 19px;
  color: #064b8a;
  font-family: "Open Sans";
  font-style: normal;
  line-height: 23px;
}
h3 {
  font-size: 22px;
  color: #000000;
  font-family: "Open Sans";
  font-style: normal;
  line-height: 23px;
}
.card3-title {
  font-size: 36px;
  line-height: 30px;
  font-family: var(--font-titles);
  font-weight: 300;
  margin-bottom: 13px;
}

h5 {
  color: #000000;
  font-size: 15px;
}

.report-card2 {
  z-index: 10;
  width: 388px;
  top: 20%;
  left: 73.5%;
  padding-left: 34px;
}

.report-card3 {
  z-index: 17;
  top: 70%;
  left: 64%;
  width: 432px;
}
.span-content span {
  color: #000000;
  font-size: 12px;
}
.card-3-content{
  color: #064b8a;
  font-size: 36px;
}
