.card-bg-container {
  background: #fff;
  border-radius: 25px;
  width: 745px;
  height: auto;
  padding-top: 10px;
}

.footer-nav {
  display: flex;
  justify-content: center;
}
.card-heading {
  text-align: center;
  font-family: "Open Sans";
  font-style: "SemiBold";
  font-size: 32px;
  line-height: 44px;
  line-height: 100%;
  vertical-align: top;
  color: #064b8a;
  margin-top: 1px;
  margin-bottom: 10px;
}
.steps-box {
  display: flex;
}
.arrow-container {
  color: #064b8a;
  margin-top: 90px;
}
.card-para {
  text-align: center;
  font-family: "Open Sans";
  font-style: normal;
  font-size: 1.5em;
  vertical-align: top;
  color: #064b8a;
  display: flex;
  align-self: center;
  margin-bottom: 1%;
}
.exp-para {
  text-align: start;
  margin: 0% 0%;
}
.step-2para {
  width: 600px;
}

.step-3para {
  width: 700px;
}
.welcome-card-ant-btn {
  background: #78d391;
  width: 163px;
  height: 35px;
  align-self: center;
  border-radius: 15px;
  border-color: #000000;
  margin-top: 2%;
}
.card-button {
  position: absolute;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  line-height: 100%;
  text-align: center;
  vertical-align: Top;
  color: #064b8a;
  background-color: #78d391;
  width: 163px;
  height: 35px;
}

.button-space {
  top: 268px;
  left: 298px;
}

@media screen and (max-width: 992px) {
  .card-bg-container {
    width: 381px;
    height: 460px;
  }
  .card-button {
    left: 98px;
  }
}

.header-card-button {
  background-color: #ebf6f6;
  border-radius: 30px;
  border-color: #064b8a;
}

.next-link {
  font-family: "Open Sans";
  font-style: "ExtraBold";
  font-size: 28px;
  line-height: 38px;
  line-height: 100%;
  text-align: end;
  color: #064b8a;
  font-weight: 700;
  margin-right: 4px;
}

/* // explaination 2nd card css// */

.three-steps-card-container {
  height: 337px;
  padding: 0px 20px 20px 20px;
  display: flex;
  flex-direction: row;
  background-color: #fff;
}

.explain-btn-div {
  background: var(--btn-background);
  width: 197px;
  height: 37px;
  text-align: center;
  color: white;
  border-radius: 15px;
  padding-top: 7px;
  position: absolute;
  position: absolute;
  left: 30.39%;
  right: 37.99%;
  top: 100.02%;
  bottom: 29.18%;
}
.next-link {
  margin-top: 20px;
}
.next-link:hover {
  background: var(--btn-background);
  padding: 12px;
  border-radius: 15px;
  margin-right: 5px;
  color: #fff;
  width: 220px;
  text-align: center;
  align-self: end;
  cursor: pointer;
}
.steps-icon {
  display: flex;
  align-self: center;
  margin: 10px 0px;
}
