//==================welcome page css=========================

//override css
.card-bg-container {
  .ant-card-head {
    border-bottom: 1px;
  }
  .ant-card-body {
    display: flex;
    flex-direction: column;
    padding: 0px 2px;
  }
  .ant-card-actions {
    border: none;
    border-radius: inherit;
    li {
      border: none;
    }
  }
  .footer-nav {
    .box {
      width: 17px;
      height: 17px;
    }
  }
}

/* explanation page css */
.explanation-container {
  //top card css
  .ant-card {
    background-color: #fff;
    width: 527px;
    height: auto;
    padding: 1% 2% 1% 2%;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 7px 7px 10px rgba(39, 43, 76, 0.32);
  }
  .ant-card-head {
    border-bottom: 1px;
  }
  .ant-card-body {
    padding: 0 5px;
    margin: 0px;
  }
  .footer-nav {
    .box {
      width: 17px;
      height: 17px;
    }
  }

  // ===================== explanation pages css ========================
  .three-steps-card-container {
    .ant-card {
      border: none;
      box-shadow: none;
      .ant-card-head {
        border-bottom: 1px;
      }
      .ant-card-body {
        display: inherit;
        background-color: var(--t-background);
        height: auto;
      }
      .steps-headings {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 2em;
        line-height: 33px;
        color: #064b8a;
      }
      .explain-para {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 1.5em;
        line-height: 38px;
        text-align: center;
        color: #064b8a;
        margin-right: 3px;
      }
      .box {
        width: 25px;
        height: 25px;
      }
      .icons {
        position: absolute;
        left: 43.76%;
        right: 48.43%;
        bottom: 47.85%;
      }
      .icon-shopify {
        top: 62.06%;
      }
      .icon-message {
        top: 56.06%;
      }
      .icon-dashboard {
        top: 57.06%;
      }
      .explain-btn-div {
        top: 91%;
        left: 32%;
      }
    }
  }

  // =============================all cards pages css ========================

  .card-bg-container {
    .ant-card-actions {
      border: none;
    }
    .ant-card-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 0px;

      .ant-card-actions {
        .ant-btn-default {
          background: #ebf6f6;
          width: 133px;
          height: 35px;
          border-radius: 15px;
          border-color: #000000;
        }
      }
      .steps-box {
        display: flex;
      }
    }
  }
}
